// 颜色定义规范
$color-background: #F3F3F3;
$color-background-d: #FFFFFF;
$color-highlight-background: #333;
$color-dialog-background: rgba(0, 0, 0, 0.15);
$color-theme: #9C9C9C;
$color-theme-d: #333;
$color-sub-theme: #E22E2E;
$color-sub-border: #ED4747;
$color-border: #e3e5e9;
$color-border-d: #9C9C9C;
$color-background-border: #9C9C9C;
$color-text: #666666;
$color-text-d: #181818;
$color-text-l: #9C9C9C;
$color-text-ll: #FFFFFF;

//字体定义规范
$font-size-small-s: 0.26rem; // (19.5/2)px
$font-size-small-m: 0.32rem;
$font-size-small: 0.346666rem; // (26/2)px
$font-size-small-x: 0.4rem; // (30/2)px
$font-size-medium: 0.426666rem; // (32/2)px
$font-size-medium-x: 0.48rem;  // (36/2)px
$font-size-large: 0.586666rem; // (44/2)px
$font-size-large-x: 0.64rem; // (48/2)px

$font-size-root: 75px; // iphone6 1rem basic-size
$dpr: 2; // iphone6 dpr
